<div class="container-fluid">
    <div class="card text-center">
        <div class="card-body">
            <h4 class="card-title">Galeria</h4>
            <h6 class="card-subtitle mb-2 text-muted">Tomar Foto</h6>
            <button class="btn btn-primary">
                <i class="fa fa-camera" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <section id="galeria" class="galeria-container">
        <div class="galeria">
            <div class="card">
                <img class="card-img-top" src="img/galeria/21082017_1.jpg" alt="21082017_1">
                <div class="card-body">
                    <h4 class="card-title">Veronica y Antonio</h4>
                    <p class="card-text">Pintamos figuras geometricas con acuarelas.</p>
                    <div class="text-right">
                        <button class="btn btn-sm btn-danger">Eliminar <i class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="img/galeria/21082017_2.jpg" alt="21082017_2">
                <div class="card-body">
                    <h4 class="card-title">Asamblea</h4>
                    <p class="card-text">Los niños participaron en diferentes dinamicas.</p>
                    <div class="text-right">
                        <button class="btn btn-sm btn-danger">Eliminar <i class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="img/galeria/21082017_3.jpg" alt="21082017_3">
                <div class="card-body">
                    <h4 class="card-title">Loteria dia del niño</h4>
                    <p class="card-text">Loteria dia del niño.</p>
                    <div class="text-right">
                        <button class="btn btn-sm btn-danger">Eliminar <i class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>